@import url("https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@75..125,300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #2e2e2e;
  background: #f0f0f0;
  font-family: "Fredoka", "Gill Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

canvas {
  width: 100%;
  height: 100vh;
  display: block;
  background: #e0f0ff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

/* Pages */
.home,
.how-to-play {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.about {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home {
  background: transparent;
}

/* Loading page */
#loading-page {
  display: flex;
  justify-content: center;
  align-content: center;
  background: #e0f0ff;
  min-height: 100vh;
  width: 100%;
  z-index: 10000;
  display: none;
}

#loading {
  font-size: 3.5rem;
  height: 80px;
  margin-bottom: 1rem;
  font-weight: 500;
  font-family: "Gill S,ans", "Gill Sans MT", sans-serif;
  color: #1f8ef1;
}

#x {
  font-size: 1.5rem;
  font-weight: 500;
  min-height: 2rem;
  margin-top: 1rem;
  color: #1f8ef1;
  transition: all 0.3s ease;
}

#gen {
  font-size: 2rem;
  margin: 1.5rem;
  font-weight: 700;
  color: #1f8ef1;
}

/* Home page */
#title {
  text-align: center;
  font-size: 128px;
  margin: 20px;
  color: #1f8ef1;
  -webkit-text-stroke: 2px hsl(208, 88%, 30%);
  transition: all 0.1s ease;
}

#title:hover {
  transform: scale(1.0375);
  cursor: pointer;
}

#title a {
  text-decoration: none;
  color: #1f8ef1;
}

#description {
  font-size: 24px;
  font-weight: 500;
  margin: 10px;
}

#description img {
  transform: translateY(5px);
  opacity: 0.8;
}

#play {
  margin: 2rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  font-family: inherit;
  font-weight: 600;
  color: #f0f0f0;
  background: #1f8ef1;
  border: 2px solid #1f8ef1;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease;
}

#play:hover {
  background: white;
  color: #1f8ef1;
  font-size: 1.7rem;
}

#hint {
  text-decoration: underline;
  cursor: pointer;
  position: absolute;
  font-size: 0.9rem;
  right: 10px;
  top: 80%;
  transform: rotate(-15deg);
}

#hint a {
  text-decoration: none;
  color: inherit;
}

#hint a:visited {
  color: inherit;
}

#hint a:hover,
#hint:hover {
  text-decoration: wavy underline;
  text-decoration-color: #1f8ef1;
  color: #1f8ef1;
}

/* How to play page */
.instructions img {
  opacity: 0.8;
}

ul > li {
  margin: 1rem;
}

h2 {
  text-align: center;
  font-size: 5rem;
  font-weight: 900;
  margin: 20px;
  letter-spacing: 3px;
  color: #1f8ef1;
  text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5,
    -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5,
    -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
}

p {
  font-size: 1.2rem;
  margin: 10px 20px;
}
